name: Do project maintenance

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  run-maintain:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Set up git user
        run: |
            git config --local user.name "${GITHUB_ACTOR}"
            git config --local user.email "${GITHUB_ACTOR}@users.noreply.github.com"
      - name: Run maintain.py
        run: python scripts/maintain.py
